{% extends 'admin/change_form.html' %}
{% load i18n %}

{% block submit_buttons_bottom %}
  <div class="submit-row">
    <input type="submit" value="{% translate 'Save' %}" class="default" name="_save">
    <input type="submit" value="{% translate 'Save and continue editing' %}" name="_continue">
    {% if user.is_superuser or user.role == 'manager' %}
      <input type="submit" value="{% translate 'Publish' %}" name="_publish">
    {% endif %}
  </div>
  <!-- {{ block.super }} -->
{% endblock %}
