settings_local.py
zaki/settings_local.py
uploads/
staticfiles/
.vscode/
db.sqlite3
.gcr.env
temp.yml
.DS_Store
node_modules
/dist

staticfiles/
redis-stable/
redis-stable.tar.gz

styler.css.map
gcp-dev-service-account.json